body{
    font-family: 'Lato', sans-serif;
}
.maincenter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd078;
}
.button{
    padding: 16px 32px;
    width: 250px;
    text-decoration:none;
    text-align: center;
    border-radius: 50px;
    background-color: #ffffff ;
    color: #824AC3;
}
.rightcenter{
    margin-left: 40%;
    background-color: #ffd078;
}
.detail{
    margin-left: 250px;
}
.ballon{
    display: flex;
    margin-left: 250px;
    top: -200px;
}
.cadre{
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    margin-left: 27.5%;
    width: 15em;
    background-color: azure;
    padding: 20px;
    box-shadow: 0 0 0 1em azure;
}
.main{
    background-color: #6CABDD;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
a{
    display: inline-block;
    padding: 16px 32px;
    width: 180px;
    text-align: center;
    border-radius: 50px;
    background-color: #FFF3DC;
    color: #3B241C;
    text-decoration: none;
}
.contacts{
    align-items: center;
}
.valeurs{
    margin-left: 19em;
}/*